@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Welcome to the <b>@Model.env_index</b> Environment</h1>
    <h1>This is @Model.indexUI</b> Environment</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>V4 </p>
    <p> 3/31/2023 </p>
    <p> 5:38 PM FRIDAY </p>

</div>
